.Navbar{
    padding:0;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.Navbar ul{
    list-style-type: none;
    padding:5px 0 5px 0;
}
.Navbar li{
    display: inline;
    padding:1px 7px;
    margin:10px;
}
.Navbar a{
    text-decoration: none;
    color:rgb(216, 216, 216);
    border-bottom: 2px solid ;
    padding:0 5px;
    font-size:1.3em;
}
.Navbar a:hover{
    opacity: 1;
    background: linear-gradient(0deg, rgba(216,216,216,1) 0%, rgba(255,255,255,0.01) 40%);
}