@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Creepster&family=Monoton&family=Shrikhand&display=swap');
/* font-family: 'Bangers', cursive;
font-family: 'Carter One', cursive;
font-family: 'Creepster', cursive;
font-family: 'Monoton', cursive;
font-family: 'Shrikhand', cursive; */


/* General */
html{
    background: linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0) 70.71%),
                linear-gradient(127deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0) 70.71%),
                linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0) 70.71%);
    margin: 0;
    padding:0;
    background-size: cover;
    min-height: 100vh;
}
body{
    width:inherit;
    color:rgb(216, 216, 216);
    margin:0 auto 0 auto;
    padding:0 30px 20px 30px;
    font-family: sans-serif;
    font-size: 25px;
}
h2,h3,h4,h5{
    margin:0 auto 0 auto;
    padding:0;
    font-family: 'Carter One', cursive;
}
h1{
    margin:0 auto 0 auto;
    padding:0;
    font-size: 3.7rem;
    padding-top:7px;
}
h2{
    background:linear-gradient(90deg, rgb(36, 94, 202),rgb(115, 19, 204));
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position-y: 40px;
    width:fit-content;
    padding:0 15px 0 15px;
}

a{
    transition: .7s !important;
}
a:hover{
     opacity: 0.3;
     transition:.3s !important;
}



/* home */

.HeroimgA{
    border:solid 5px green;
}
/* IMG Class for images */
.IMG{
    display:block;
    margin:0;
    padding:0;
}
/* Content */
.content{
    background-color: rgba(224, 224, 224, 0.35) ;
    margin: 0 auto 10px auto;
    border-radius: 15px;
    padding:10px;
    text-align: center;
    max-width: 1265px;
    color:rgb(24, 24, 24);
}
@media(max-width:600px){
    .content{
        margin:none;
        min-width: 100%
    }
    body{
        margin:0;
        padding:0;
    }
}
@media(max-width:400px){
    .content{min-width: 400px;}
}